# Bitwise vs Logical

Types : 
- Complement (~)
- And (&)
- Or (|)
- XOR (^)
- Left Shift (<<)
- Right Shift (>>)

## Complements

In [2]:
~12

-13

Why is ~12 =  -13?

BACKGROUND : We can store positive numbers in a binary format. But how to store negative numbers? **2's complements**

2's complement = 1's complement + 1

12 = 00001100
<br>
12's complement = 11110011 

How is the above number -13?

2's complement of 13 is -13 so let's find 2's complement of 13

13 = 00001101
<br>
1's complement = 11110010
<br>
2's complement (1's complement + 1) = 11110011

This is the same number that we got as 12's complement which is -13

In [6]:
12 & 13

12

![bitwiseand](images/bitwiseand.png)

In [12]:
25 & 30

24

## Truthy Falsy

It just refers to values which are evaluated to True or False.

For instance, to see if a list is not empty, instead of checking like this:

if len(my_list) != 0:
   print("Not empty!")
You can simply do this:

if my_list:
   print("Not empty!")

This is because some values, such as empty lists, are considered False when evaluated for a boolean value. Non-empty lists are True.

Similarly for the integer 0, the empty string "", and so on, for False, and non-zero integers, non-empty strings, and so on, for True.

The idea of terms like "truthy" and "falsy" simply refer to those values which are considered True in cases like those described above, and those which are considered False.

For example, an empty list ([]) is considered "falsy", and a non-empty list (for example, [1]) is considered "truthy".

Link 1 : https://www.geeksforgeeks.org/truthy-vs-falsy-values-in-python/
<br>
Link 2 :https://stackoverflow.com/questions/39983695/what-is-truthy-and-falsy-how-is-it-different-from-true-and-false

NOTE: You can check if a value is either truthy or falsy with the built-in bool() function. This function is used to return or convert a value to a Boolean value i.e., True or False, using the standard truth testing procedure

In [1]:
bool([])

False

In [2]:
bool(0)

False

In [4]:
bool(1)

True

In [5]:
bool('Akshit')

True

In [6]:
bool('')

False

In [7]:
bool('False')

True

#### These are complements (bitwise)

In [11]:
[~i for i in [1,2,3,4,5,12]]

[-2, -3, -4, -5, -6, -13]

Bitwise

In [12]:
True & True

True

In [13]:
True & False

False

Boolean

In [14]:
True and True

True

In [15]:
True and False

False

## Order of Operations

In [18]:
print(1==1 & 2==2)

False

In [19]:
print( (1==1) & (2==2) )

True

#### () is evaluated first

In [20]:
print(1==1 and 2==2)

True

 "&" has a higher precendence than "and"

## Bitwise and Boolean Differences

Logical works on two operands, where something is considered as either True or False, nothing else.
<br>
Bitwise is more for ints where you are looking at the individual bits that make up that int
so, if you have 11110000 | 00001111  then that equals 11111111

https://stackoverflow.com/questions/3845018/boolean-operators-vs-bitwise-operators

### 1. Short Circuit

Boolean operators are short-circuiting but bitwise operators are not short-circuiting.

Context : There is no variable defined as x

In [24]:
True or x

True

In [26]:
False and x

False

#### When you use the boolean "and" operator the second expression is not evaluated when the first is False. Similarly or does not evaluate the second argument if the first is True.

In [25]:
True | x

NameError: name 'x' is not defined

In [28]:
False & x

NameError: name 'x' is not defined

#### This would not work correctly with the bitwise & operator because both sides would always be evaluated, giving AttributeError: 'NoneType' object has no attribute 'foo'.

#### Working behind the scenes

https://docs.python.org/release/2.7.3/library/stdtypes.html#boolean-operations-and-or-not

A non-empty string is "Truthy". It evaluates this expression and returns the second one.

In [36]:
"Akshit" and "Miglani"

'Miglani'

First word "Akshit" is truthy so it doesn't even evaluate the second one

In [34]:
"Akshit" or "Miglani"

'Akshit'

In [31]:
"Akshit" & "Miglani"

TypeError: unsupported operand type(s) for &: 'str' and 'str'

### 2. Working with Data Frames

In [42]:
import pandas as pd

In [47]:
name = ["Akshit","Jake","Akshit","Jake"]
job = ["Analyst", "loser", "winner", "jobless"]
location = ["delhi", "ny", "mumbai", "miami"]

df = pd.DataFrame(zip(name,job,location), columns = ["name","job","location"])
df

     name      job location
0  Akshit  Analyst    delhi
1    Jake    loser       ny
2  Akshit   winner   mumbai
3    Jake  jobless    miami

In [48]:
df.name == "Akshit"

0     True
1    False
2     True
3    False
Name: name, dtype: bool

In [49]:
df.name == "Akshit" and df.job == "Analyst"

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

The or and and python statements require truth-values. For pandas these are considered ambiguous so you should use "bitwise" | (or) or & (and) operations:

ERROR : https://stackoverflow.com/questions/36921951/truth-value-of-a-series-is-ambiguous-use-a-empty-a-bool-a-item-a-any-o

In [50]:
(df.name == "Akshit") & (df.job == "Analyst")

0     True
1    False
2    False
3    False
dtype: bool

WHY/HOW this works : https://stackoverflow.com/questions/39388950/logical-or-bitwise-or-in-pandas-data-frame