In [1]:
import pandas as pd

In [5]:
from geopy.geocoders import Nominatim

In [6]:
geolocator = Nominatim(user_agent="geoapiExercises")

In [3]:
w8_df=pd.read_excel(r"protests map.xlsx")

In [4]:
w8_df

,RecordID,Longitude,Latitude,DateTime,Event Link
0,1,21.021260,52.213450,2021-02-12 18:00:00.000,https://www.facebook.com/events/226495892402184
1,2,17.967134,50.474524,2021-02-03 16:59:59.971,https://www.facebook.com/events/604855707006993
2,3,19.963477,53.697546,2021-02-01 18:29:59.971,NaN
3,4,21.392015,50.948696,2021-01-31 15:29:59.971,https://fb.me/e/VdR0ifWI
4,5,15.339680,50.912950,2021-01-30 16:00:00.029,https://fb.me/e/1Qfbo0xA8
...,...,...,...,...,...
1353,1354,17.933780,51.425820,2020-10-23 00:00:00.000,NaN
1354,1355,15.590514,51.109579,2020-10-23 00:00:00.000,https://www.facebook.com/watch/live/?v=7962819...
1355,1356,18.936793,50.900917,2020-10-23 00:00:00.000,https://www.facebook.com/Oczyma-Mieszka%C5%84c...
1356,1357,21.165931,50.562997,2020-10-23 00:00:00.000,https://www.facebook.com/events/397548197942957/
1357,1358,21.732540,54.215901,2020-10-19 13:59:59.971,https://www.facebook.com/DziewuchyWegorzewo/

In [7]:
w8_df.columns

Index(['RecordID', 'Longitude', 'Latitude', 'DateTime', 'Event Link'], dtype='object')

In [10]:
def generate_info(df):
    return geolocator.reverse(str(df['Latitude'])+","+str(df['Longitude']))

In [11]:
w8_df['location'] = w8_df.apply(generate_info,axis=1)

In [17]:
w8_df['address']=w8_df['location'].apply(lambda x:x.raw['address'])

In [ ]:
def parse_info(df):
    for key,value in df['address']:
        df[key]=value

In [42]:
column_list=list(w8_df['address'][0].keys())

In [43]:
column_list

['house_number',
 'road',
 'quarter',
 'suburb',
 'city_district',
 'city',
 'state',
 'postcode',
 'country',
 'country_code']

In [44]:
for i in column_list:
    w8_df[i]=w8_df['address'].apply(lambda x:x.get(i, ''))

In [46]:
w8_df.head()

,RecordID,Longitude,Latitude,DateTime,Event Link,location,address,house_number,road,quarter,suburb,city_district,city,state,postcode,country,country_code
0,1,21.021260,52.213450,2021-02-12 18:00:00.000,https://www.facebook.com/events/226495892402184,"(2, Tadeusza Boya-Żeleńskiego, Śródmieście Poł...","{'house_number': '2', 'road': 'Tadeusza Boya-Ż...",2,Tadeusza Boya-Żeleńskiego,Śródmieście Południowe,Śródmieście,Warszawa,Warszawa,województwo mazowieckie,00-621,Polska,pl
1,2,17.967134,50.474524,2021-02-03 16:59:59.971,https://www.facebook.com/events/604855707006993,"(Rynek, Osiedle Powstańców Śląskich, Otmęt, Kr...","{'road': 'Rynek', 'neighbourhood': 'Osiedle Po...",,Rynek,,Otmęt,,,województwo opolskie,,Polska,pl
2,3,19.963477,53.697546,2021-02-01 18:29:59.971,NaN,"(21, Stefana Czarnieckiego, Centrum, Ostróda, ...","{'house_number': '21', 'road': 'Stefana Czarni...",21,Stefana Czarnieckiego,,,,,województwo warmińsko-mazurskie,14-100,Polska,pl
3,4,21.392015,50.948696,2021-01-31 15:29:59.971,https://fb.me/e/VdR0ifWI,"(63d, Aleja Jana Pawła II, Osiedle Pułanki, Os...","{'house_number': '63d', 'road': 'Aleja Jana Pa...",63d,Aleja Jana Pawła II,,,,,województwo świętokrzyskie,27-400,Polska,pl
4,5,15.339680,50.912950,2021-01-30 16:00:00.029,https://fb.me/e/1Qfbo0xA8,"(Urząd Miasta i Gminy, 35, 11 Listopada, Podgó...","{'amenity': 'Urząd Miasta i Gminy', 'house_num...",35,11 Listopada,,,,,województwo dolnośląskie,59-850,Polska,pl

In [47]:
w8_df.to_excel('python_parsed_data.xlsx')